<% provide(:title, 'Help')%>
<h1>Help</h1>
<p>
	This help page provides tutorials on how to use features of this site, as well as answers to general site/user related questions.
	Find me in app/views/static_pages/help.html.erb
</p>
