<li>
  <span class="name">
		"<%= ascent.climb.name %>"
	</span>
  <span class="rating">
		Rating: <%= ascent.climb.rating %>
	</span>
  <span class="date">
    Ascented <%= time_ago_in_words(ascent.date) %> ago.
  </span>
</li>